<% content_for :body_class,  "kpts " %>
<ul class="breadcrumb">
  <li><%= link_to t("nav.groups"), groups_path %></a> <span class="divider">/</span></li>
  <li><%= link_to @group.name, url_for(@group) %> <span class="divider">/</span></li>
  <li class="active"><%= t('nav.kpt') %></li>
</ul>
<%= render 'groups/menu', group: @group %>
<%= render 'form' %>
<div class="row-fluid">
  <div class="span4">
    <h2>KEEP</h2>
    <ul class="unstyled kpt keep" data-status="<%= Kpt::KEEP %>">
    <% @keeps.each do |kpt| %>
      <li class="well" data-id="<%= kpt.id %>" data-priority="<%= kpt.priority %>">
        <%= kpt.name %>
        <%= link_to kpt_path(@group, kpt), method: :delete, class: 'close' do %>
          &times;
        <% end %> 
      </li>
    <% end %>
    </ul>
  </div>
  <div class="span4">
    <h2>PROBLEM</h2>
    <ul class="unstyled kpt problem" data-status="<%= Kpt::PROBLEM %>">
    <% @problems.each do |kpt| %>
      <li class="well" data-id="<%= kpt.id %>" data-priority="<%= kpt.priority %>">
        <%= kpt.name %>
        <%= link_to kpt_path(@group, kpt), method: :delete, class: 'close' do %>
          &times;
        <% end %> 
      </li>
    <% end %>
  </ul>
  </div>
  <div class="span4">
    <h2>TRY</h2>
    <ul class="unstyled kpt try" data-status="<%= Kpt::TRY %>">
    <% @trys.each do |kpt| %>
      <li class="well" data-id="<%= kpt.id %>" data-priority="<%= kpt.priority %>">
        <%= kpt.name %>
        <%= link_to kpt_path(@group, kpt), method: :delete, class: 'close' do %>
          &times;
        <% end %> 
      </li>
    <% end %>
  </ul>
  </div>
</div>
