<div class="page-header">
  <h1><%= t('nav.notification') %></h1>
</div>
<%= link_to t('.read_all'), notifications_path, class: 'btn btn-warning', method: :put %>
<% if @notifications.present? %> 
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th class="span1"><%= t('activerecord.attributes.notification.read') %></th>
        <th class="span7"><%= t('activerecord.attributes.notification.name') %></th>
        <th class="span2"><%= t('activerecord.attributes.notification.created_at') %></th>
        <th class="span2"><%= t('activerecord.attributes.notification.read_at') %></th>
      </tr>
    </thead>
    <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td>
          <span class="label <%= notification.read? ? '' : 'label-warning' %>">
            <%= notification.read? ? t('.read') : t('.not_yet_read') %>
          </span>
        </td>
        <td><%= link_to notification.name, notification_path(notification) %></td>
        <td><%= notification.created_at.strftime(t('date.long')) %></td>
        <td>
          <% if notification.read_at.present? %>
            <%= notification.read_at.strftime(t('date.long')) %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info"><%= t ('.no_items') %></div>
<% end %>
