<%= form_for(@group, html:{class: 'form-horizontal'}) do |f| %>
  <%= render 'shared/error', model: @group %>
<fieldset>
  <div class="control-group">
    <%= f.label :name, class: 'control-label'%>
    <div class="controls">
      <%= f.text_field :name %>
      <span class="help-inline">
        <span class="label label-warning"><%= t('common.require') %></span>
        <span class="label label-important"><%= t('groups._form.notice.name') %></span>
      </span>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :summary, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :summary, class: 'span5' %>
      <span class="help-inline">
        <span class="label label-warning"><%= t('common.require') %></span>
        <span class="label label-important"><%= t('groups._form.notice.name') %></span>
      </span>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, class: 'span5' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :scope, class: 'control-label' %>
    <div class="controls">
      <%= f.collection_select :scope_id, Scope.enable_list.all, :id, :label %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, class:['btn', 'btn-primary'] %>
  </div>
</fieldset>
<% end %>
