<div class="thumbnail" id="group_template">
  <h3><a href="/groups/<%= model.id %>"><%= model.name %></a></h3>
  <p><%= model.summary %></p>
  <p><a href="/groups/<%= model.id %>" class="btn"><%= t('groups.index.show_html') %></a></p>
</div>
