<% content_for :head do %>
  <%= render 'shared/ogp',
    title: @group.name, type: 'website',
    url: group_url(@group), image: "//#{request.host}/assets/ishikitakai.png",
    description: @group.summary %>
<% end %>

<ul class="breadcrumb">
  <li><a href="/groups"><%= t('nav.groups') %></a> <span class="divider">/</span></li>
  <li class="active"><%= @group.name %></li>
</ul>

<%= render 'groups/menu', group: @group, tab_class: '' %>

<div class="alert alert-block">
  <%= t('groups.navigate.content') %>
  <div class="form-action">
    <% if user_signed_in? && @group.user_is_member?(current_user) %>
    <% else %>
      <%= link_to t('groups.show.join'), group_memberships_path(@group), class: 'btn btn-primary', method: 'post' %>
    <% end %>
  </div>
</div>
