<% content_for :head do %>
  <%= render 'shared/ogp',
    title: @group.name, type: 'website',
    url: group_url(@group), image: "//#{request.host}/assets/ishikitakai.png",
    description: @group.summary %>
<% end %>

<div class="page-header">
  <span class="badge <%= css_scope_badge(@group.scope) %>"><%= @group.scope.label %></span>
  <h1>
    <%= @group.name %>
    <small><%= @group.summary %></small>
  </h1>
</div>

<div class="alert alert-warning">
  <h4><%= t('.warning.headline') %></h4>
  <p><%= t('.warning.content') %></p>
</div>

<% content_for_sidebar do %>
    <% if @group.user_is_pending? current_user %>
      <div class="form-action">
        <%= link_to t('.pending'), '#', class: 'btn btn-block', disabled: 'disabled' %>
      </div>
    <% else %>
      <div class="form-action">
        <%= link_to t('.join'), group_memberships_path(@group), class: 'btn btn-primary btn-block', method: 'post' %>
      </div>
    <% end %>
<% end %>
