<div class="row user_post">
  <div class="span2">
    <%= image_tag post.user.image, size: '25x25', class: 'face' %>
    <%= post.user.name %>
    <div><time><span class="muted"><%= post.created_at.strftime(t('date.long')) %></span></time></div>
  </div>
  <div class="<%= content_class %>">
    <%= render 'shared/content_md', model: post %>
  </div>
</div>
