<ul class="nav nav-tabs">
  <li>
    <%= link_to edit_email_path do %>
      <%= t('nav.mail_address') %>
    <% end %>
  </li>
  <li>
    <%= link_to my_setting_path do %>
      <%= t('nav.mail_setting') %>
    <% end %>
  </li>
  <li class="active">
    <%= link_to '#' do %>
      <%= t('nav.edit_user') %>
    <% end %>
  </li>
</ul>

<%= form_tag(my_path, method: :put) do |f| %>
  <%= text_area(:user, :content, class: 'span12') %>
  <div>
    <%= submit_tag t('action.update') %>
  </div>
<% end %>
