<% if current_user.present? && current_user.me?(@user) %>
<div class="alert alert-info">
  <h4><%= t('.my.url') %></h4>
  <%= link_to user_url(@user), user_url(@user) %>
</div>
<% end %>
<%=render 'users/user', :user => @user %>
<% if current_user.present? && current_user.me?(@user) && !current_user.has_all_provider? %>
  <%= link_to new_user_session_path, class: 'btn' do %>
    <i class="icon-plus"></i>
    <%= t('users.show.my.add') %>
  <% end %> 
<% end %>
