<% content_for :head do %>
  <%= render 'shared/ogp',
    title: @event.name, type: 'website',
    url: group_url(@event), image: "//#{request.host}/assets/ishikitakai.png",
    description: @event.summary %>
<% end %>

<ul class="breadcrumb">
  <li><a href="/events"><%= t('nav.events') %></a> <span class="divider">/</span></li>
  <% if @event.group %>
    <li><a href="/groups/<%= @event.group.id %>"><%= @event.group.name %></a> <span class="divider">/</span></li>
  <% end %>
  <li class="active"><%= @event.name %></li>
</ul>

<%= render 'groups/menu', group: @event.group %>

<div class="page-header">
  <hgroup>
  <span class="badge <%= css_scope_badge(@event.scope) %>"><%= @event.scope.label %></span>
  <span class="badge <%= css_event_payment_kind_badge(@event.event_payment_kind) %>"><%= @event.event_payment_kind.label %></span>
  <h1>
    <%= @event.name %>
    <small><%= @event.summary %></small>
  </h1>
  <h2>
    <%= event_date_formatted @event.begin_at, @event.end_at %>
  <small>
    <%= event_date_formatted @event.receive_begin_at, @event.receive_end_at %>
  </small>
  </h2>
  </hgroup>
</div>

<section>
<div class="markdown">
  <%= @event.content.html_safe %>
</div>
</section>

<section>
<h3>
  <% if @event.place_url.present? %>
    <%= link_to @event.place_name, @event.place_url %>
  <% else %>
    <%= @event.place_name %>
  <% end %>
</h3>

<% if @event.place_address.present? %>
  <div class="well">
    <%= @event.place_address %>
  </div>
  <%= link_to "https://maps.google.co.jp/maps?q=#{@event.place_address}", target: '_blank' do %>
    <% image_tag "#{Settings.map.prefix + @event.place_address}", class: 'img-polaroid' %>
  <% end %>
<% end %>
</section>

<% if @event.user_can_edit?(current_user) %>
  <section class="form-actions">
    <%= link_to t('.edit'), edit_event_path(@event), class: 'btn' %>
    <%= link_to t('.copy'), copy_event_path(@event), class: 'btn' %>
  </section>
<% end %>

<% content_for_sidebar do %>
  <div class="form-action">
    <% if user_signed_in? && @event.user_is_attendence?(current_user.id) %>
    <% else %>
      <%= link_to t('.join'), my_attendence_path(@event), class: 'btn btn-primary btn-block', method: 'put' %>
    <% end %>
  </div>
  <section>
  <h3>
    <i class="icon-user"></i><%= t('.attendence') %><i class="icon-user"></i>
  </h3>
  <span class="badge"><%= @event.attendences.count %></span>/<span class="badge"><%= @event.capacity_max %></span> 
  <table class="table table-condensed">
    <% @event.attendences.order(:id).each_with_index do|attendence, i| %>
      <tr class="<%= ((i+1) <= @event.capacity_max)? 'success':'muted' %>">
        <td><span class="label <%= css_level_badge(attendence.level) %>"><%= attendence.level.label %></span></td>
        <td><%= link_to attendence.user.name, user_path(attendence.user_id) %></td>
      </tr>
    <% end %>
  </table>
  </section>
  <% if user_signed_in? && @event.user_is_attendence?(current_user.id) %>
    <% unless @event.user_is_owner?(current_user.id) %>
      <%= link_to t('.leave'), my_attendence_path(@event), class: 'btn btn-danger btn-block', confirm: t('.confirm_leave'), method: 'delete' %>
    <% end %>
  <% end %>
<% end %>
