<%= content_for :title do %>
  <%= "#{@event.name} - #{Settings.site.name}" %>
<% end %>
<%= content_for :ogp do %>
  <%= render('shared/ogp', 
             type: 'website',
             url: request.url,
             image: "#{request.scheme}://#{ENV['HOST']}#{Settings.site.image}", 
             description: "#{@event.summary}") %>
<% end %>
<%= content_for :sns_link_name do %>
  <%= "#{@event.group.try(:name)} #{@event.name} - #{Settings.site.name}" %>
<% end %>

<ul class="breadcrumb">
  <li><a href="/events"><%= t('nav.events') %></a> <span class="divider">/</span></li>
  <% if @event.group %>
    <li><a href="/groups/<%= @event.group.id %>"><%= @event.group.name %></a> <span class="divider">/</span></li>
  <% end %>
  <li class="active"><%= @event.name %></li>
</ul>

<%= render 'groups/menu', group: @event.group, tab_class: '' %>

<% if @event.user_can_edit?(current_user) %>
  <section class="form-actions">
    <%= link_to t('.edit'), edit_event_path(@event), class: 'btn' %>
    <%= link_to t('.copy'), copy_event_path(@event), class: 'btn' %>
  </section>
<% end %>

<div class="page-header">
  <hgroup>
  <span class="badge <%= css_scope_badge(@event.scope) %>"><%= @event.scope.label %></span>
  <span class="badge <%= css_event_payment_kind_badge(@event.event_payment_kind) %>"><%= @event.event_payment_kind.label %></span>
  <h1>
    <%= @event.name %>
    <small><%= @event.summary %></small>
  </h1>
  <h2>
    <%= event_date_formatted @event.begin_at, @event.end_at %>
  <small>
    <%= event_date_formatted @event.receive_begin_at, @event.receive_end_at %>
  </small>
  </h2>
  </hgroup>
</div>

<section>
  <%= render 'shared/content_md', model: @event %>
</section>

<section>
<h3>
  <% if @event.place_url.present? %>
    <%= link_to @event.place_name, @event.place_url %>
  <% else %>
    <%= @event.place_name %>
  <% end %>
</h3>

<% if @event.place_address.present? %>
  <div class="well">
    <%= @event.place_address %>
  </div>
  <%= link_to "https://maps.google.co.jp/maps?q=#{@event.place_address}", target: '_blank' do %>
    <% image_tag "#{Settings.maps.prefix + @event.place_address}", class: 'img-polaroid' %>
  <% end %>
<% end %>
</section>

<%= render 'comments/list', comments: @event.comments %>
<%= render 'comments/form', :comment => Comment.new(commentable: @event) %>

<% content_for_sidebar do %>
  <div class="form-action">
    <% if user_signed_in? && @event.user_is_attendance?(current_user.id) %>
    <% else %>
      <%= link_to t('.join'), event_attendances_path(@event), class: 'btn btn-primary btn-block', method: 'post' %>
    <% end %>
  </div>
  <section>
  <h3>
    <i class="icon-user"></i><%= t('.attendance') %><i class="icon-user"></i>
  </h3>
  <span class="badge"><%= @event.attendances.count %></span>/<span class="badge"><%= @event.capacity_max %></span> 
  <table class="table table-condensed">
    <% @event.attendances.order(:id).each_with_index do|attendance, i| %>
      <tr class="<%= ((i+1) <= @event.capacity_max)? 'success':'muted' %>">
        <td><span class="label <%= css_level_badge(attendance.level) %>"><%= attendance.level.label %></span></td>
        <td>
          <%= link_to user_path(attendance.user_id) do %>
            <%= image_tag attendance.user.image, size: '25x25' %>
            <%= attendance.user.name %>
          <% end %> 
        </td>
      </tr>
    <% end %>
  </table>
  </section>
  <% if user_signed_in? && @event.user_is_attendance?(current_user.id) %>
    <% unless @event.user_is_owner?(current_user.id) %>
      <%= link_to t('.leave'), my_attendance_path(@event), class: 'btn btn-danger btn-block', confirm: t('.confirm_leave'), method: 'delete' %>
    <% end %>
  <% end %>
<% end %>
<%= render 'groups/menu', group: @event.group, tab_class: 'tabs-below' %>
