<% content_for :body_class,  "setting " %>
<ul class="nav nav-tabs">
  <li class="">
    <%= link_to edit_email_path do %>
      <%= t('nav.mail_address') %>
    <% end %>
  </li>
  <li class="active">
    <%= link_to '#' do %>
      <%= t('nav.mail_setting') %>
    <% end %>
  </li>
  <li>
    <%= link_to my_edit_path do %>
      <%= t('nav.edit_user') %>
    <% end %>
  </li>
</ul>

<%= form_for(@user_setting, url: my_setting_path, method: :put, html:{class: 'form-horizontal'}) do |f| %>
  <fieldset>
    <% [:mail_attend_status, :mail_event_comment, :mail_event_attendance,
    :mail_group_event].each do|col| %>
      <div class="control-group">
        <%= f.label col, class: 'control-label' %>
        <div class="controls">
          <label class="setting_label">
            <%= f.radio_button col, true %>
            <%= t('common.yes_label') %>
          </label>
          <label class="setting_label">
            <%= f.radio_button col, false %>
            <%= t('common.no_label') %>
          </label>
        </div>
      </div>
    <% end %>
    <div class="form-actions">
      <%= f.submit nil, class:['btn', 'btn-primary'] %>
    </div>
  </fieldset>
<% end %>
