<ul class="breadcrumb">
  <li><a href="/groups/<%= @group.id %>"><%= @group.name %></a> <span class="divider">/</span></li>
  <li class="active"><%= t('nav.chat') %></li>
</ul>
<%= paginate @chats %>
<ul class="unstyled">
<% @chats.each do|chat| %>
  <li>
    <%= render 'chat', chat: chat %> 
  </li>
<% end %>
</ul>
<%= render 'form' %>
