<% content_for :body_class, "chats " %>
<% content_for :body_data_id, @group.id.to_s %>
<ul class="breadcrumb">
  <li><%= link_to t("nav.groups"), groups_path %></a> <span class="divider">/</span></li>
  <li><a href="/groups/<%= @group.id %>"><%= @group.name %></a> <span class="divider">/</span></li>
  <li class="active"><%= t('nav.chat') %></li>
</ul>
<%= render 'groups/menu', group: @group, tab_class: '' %>
<%= paginate @chats %>
<ul class="unstyled" data-list="chats">
<% @chats.each do|chat| %>
  <li>
    <%= render 'chat', chat: chat %> 
  </li>
<% end %>
</ul>
<div class="progress progress-striped active" style="display: none;">
  <div class="bar" style="width: 100%;"></div>
</div>
<ul class="member unstyled">
</ul>
<%= render 'form' %>
<%= render 'groups/menu', group: @group, tab_class: 'tabs-below' %>
