<div class="hero-unit">
  <h1>意識高い</h1>
  <p>意識の高まりを広げ、人との繋がりを介してナレッジやノウハウの共有を行う機会を増やすサービスです。</p>
</div>

<% if user_signed_in? %>
  <% content_for_sidebar do %>
    <h3><%= t('nav.my_group') %></h3>
    <ul>
      <% current_user.groups.order(:updated_at).each do|group| %>
        <li>
          <%= link_to group.name, group_path(group) %>
          <%= link_to group_chats_path(group), rel: 'tooltip', :'data-title' => t('nav.chat'), :'data-placement' => 'bottom' do %>
            <i class="icon-comment"></i>
          <% end %>
          <%= link_to group_tasks_path(group), rel: 'tooltip', :'data-title' => t('nav.task'), :'data-placement' => 'bottom' do %>
            <i class="icon-ok"></i>
          <% end %>
          <%= link_to group_wikis_path(group), rel: 'tooltip', :'data-title' => t('nav.wiki'), :'data-placement' => 'bottom' do %>
            <i class="icon-list-alt"></i>
          <% end %>
          <%= link_to group_kpts_path(group), rel: 'tooltip', :'data-title' => t('nav.kpt'), :'data-placement' => 'bottom' do %>
            <i class="icon-tasks"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
