<ul class="breadcrumb">
  <li><%= link_to t("nav.#{@parent.class.to_s.tableize}"), send("#{@parent.class.to_s.tableize}_path") %></a> <span class="divider">/</span></li>
  <% if @parent.respond_to?(:group) && @parent.group.present? %>
    <li><%= link_to @parent.group.name, url_for(@parent.group) %> <span class="divider">/</span></li>
  <% end %>
  <li><%= link_to @parent.name, url_for(@parent) %> <span class="divider">/</span></li>
  <li class="active"><%= t('nav.wiki') %></li>
</ul>
<%= render 'groups/menu', group: @parent, tab_class: '' %>
<%= link_to t('.new'), new_wiki_path(@parent), class: "btn btn-warning " %>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th class="span3"><%= t('activerecord.attributes.wiki.user') %></th>
      <th class="span7"><%= t('activerecord.attributes.wiki.name') %></th>
      <th class="span2"><%= t('activerecord.attributes.wiki.updated_at') %></th>
    </tr>
  </thead>
  <tbody>
  <% @wikis.each do |wiki| %>
    <tr>
      <td>
        <%= link_to user_path(wiki.user) do %>
          <%= image_tag wiki.user.image, size: '25x25', class: 'face' %>
          <%= wiki.user.name %>
        <% end %> 
      </td> 
      <td><%= link_to truncate(wiki.name, length: 30), wiki_path(@parent, wiki) %></td> 
      <td>
        <span class="label">
          <%= link_to wiki_path(@parent, wiki) do %>
            <%= wiki.updated_at.strftime(t('date.long')) %>
          <% end %>
        </span>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= render 'groups/menu', group: @parent, tab_class: 'tabs-below' %>
