<% content_for :body_class,  "attendences " %>
<h3><i class="icon-user"></i><%= t('events.show.attendence') %><i class="icon-user"></i></h3>
<table class="table table-condensed">
  <thead>
    <tr>
      <th class="span3"><%= t('activerecord.attributes.attendence.level') %></th>
      <th class="span2"><%= t('activerecord.attributes.user.name') %></th>
      <th class="span2"><%= t('activerecord.attributes.attendence.updated_at') %></th>
      <th class="span5"></th>
    </tr>
  </thead>
  <% @attendences.order(:level_id, :id).each do|attendence| %>
    <tr>
      <td>
        <span class="label <%= css_level_badge(attendence.level) %>">
          <%= attendence.level.label %>
        </span>
      </td>
      <td><%= link_to attendence.user.name, user_path(attendence.user_id) %></td>
      <td><%= attendence.updated_at.strftime(t('date.long')) %></td>
      <td>
        <div class="controls controls-row">
          <%= form_for([attendence.event, attendence]) do |f|%>
            <%= f.collection_select :level_id, Level.enable_list.all, :id, :label %>
            <%= f.submit nil, class: 'btn' %>
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
</table>
